<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choco</title>
  </head>
  <body>
    <h1>Hello choco from view</h1>
    <a href="/test">test</a>
    <a href="/choco">choco</a>
  </body>
</html>
